/* TODO: Color Palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2, 4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* TODO: FIXME: Replace content text with content icon */
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2.2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  text-decoration: none;
  color: var(--color-heading);
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}

.icon-container {
  background-color: #f3f9fa;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background-color: var(--color-accent);
}

.btn {
  /* Mosh code */
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2.4rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--primary:hover {
  background-color: #3a8ffd;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background-color: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background-color: white;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}
.btn--outline:hover {
  color: white;
  background-color: var(--color-heading);
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
.btn--icon {
  width: auto;
  height: auto;
  background-color: var(--color-accent);
  border: none;
  color: var(--color-heading);
  color: white;
  padding: 1.7rem 3.4rem;
  padding-left: 3.2rem;
  padding-right: 4.2rem;
  font-size: 1.5rem;
}
.btn--icon .btn__icon-style {
  margin: 0;
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}
/* Inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-heading);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024) {
  .input {
    font-size: 5rem;
  }
}
/* Input Groups */
.input-group {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* Plans */

.plan__name {
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 1rem;
  opacity: 80%;
}
.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* Primary Plan With popular badge */
.plan .badge--primary {
  background-color: #126de4;
}

.plan .btn--outline {
  background-color: var(--color-heading);
  color: white;
}

.plan .btn--outline:hover {
  color: var(--color-heading);
  background-color: white;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
/* Media */
/* TODO: FIXME: The filling of icon doesn't work */
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}

/* Quotes */
.quote {
  font-style: italic;
  color: var(--color-body-darker);
  font-size: 3rem;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote .media__body {
  font-style: normal;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.quote__organization {
  font-size: 2rem;
  color: var(--color-heading);
  opacity: 40%;
}

.quote__line {
  position: relative;
  top: -10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}
/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__authors {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
}
.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.callout__heading {
  margin-top: 0;
  color: white;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  opacity: 0%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
}
.block--dark {
  background-color: #000;
  color: #b9c3cf;
}

.block--dark .block__heading {
  color: white;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.block__header {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation bar */
.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin-top: 0;
}

.nav__item > a {
  color: #c4c2cc;
  transition: color 0.3s;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 0.5px solid #222;
}

.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 50%;
  transition: opacity 0.3s;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
  opacity: 1;
}
.nav__toggler:hover {
  opacity: 1;
}
.nav__brand {
  transform: translateY(5px);
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    font-size: 1.6rem;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* Hero */
.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
