<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        accusamus temporibus dignissimos quod, sapiente ratione vero libero
        explicabo asperiores magni delectus, placeat ex animi consequuntur.
        Veritatis sunt aliquid rerum placeat, ipsum minima voluptate atque
        explicabo ratione maxime architecto recusandae debitis. Obcaecati
        eveniet provident, voluptate quis dignissimos ad dolore perferendis
        molestiae.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
