<div style="width: 70%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sit
      perspiciatis porro magnam quam est odio eaque inventore. Esse quas iste
      laudantium porro delectus fugit in voluptas eligendi saepe! Minus ullam,
      nostrum magni odio fuga animi in reiciendis beatae non, officia sint, quo
      cumque dicta maiores deserunt praesentium amet cupiditate.
    </div>
  </div>
</div>
