<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      praesentium iure esse unde a dignissimos debitis? Error porro officiis
      accusantium accusamus nisi fugit, vitae libero et ipsa omnis illo minus
      recusandae inventore eum eaque voluptatibus iure, earum animi voluptatum
      pariatur ipsam ut asperiores hic. Incidunt voluptatem explicabo inventore
      illum maxime?
    </p>
  </div>
</div>
