<section class="block container">
  <header class="block__header">
    <h2>What our Customer are Saying</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ea
      ut dicta rerum suscipit eveniet nulla dolorem minima maxime adipisci.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon--small icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet,
          ut inventore mollitia vel unde deleniti quam, doloribus voluptas
          tempore nostrum? Aliquam animi distinctio obcaecati possimus quaerat,
          tempora fugit vitae?
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Gerges Sami</h3>
              <p class="quote__organization">DeNo Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
